_site
.sass-cache
.jekyll-metadata
Gemfile.lock

/_posts/2024-02-01-My-Online-Writing-Experience_3-Major-Takeaways.md
/_posts/2024-02-04-My-Number-1-Strategy-To-Think-Clearly.md
/_posts/2024-02-08-Literary-Treasures-at-no-cost.md