_site
.sass-cache
.jekyll-metadata
Gemfile.lock
/_posts/2024-01-21-Mastering-Effective-Note-Taking-Zettelkasten.md
/_posts/2024-01-25-User-Friendly-Guide-to-the-Ideal-Week.md
/_posts/2024-02-01-My-Number-1-Strategy-To-Think-Clearly.md