<hr>
<p>Thank you for reading! If you enjoy my content, you can ...</p>
<ul>
<li>✍️ <a href="https://medium.com/@matthiaskarner">Follow me on Medium</a></li>
<li>☕ <a href="https://www.buymeacoffee.com/matthiaskarner">Buy me a Coffee</a></li>
<li>🌐 <a href="https://www.linkedin.com/in/matthiaskarner/">Connect on LinkedIn</a></li>
</ul>

<form action="https://tinyletter.com/matthiaskarner"
      class="newsletter"
      method="post"
      target="popupwindow">
      <b><p>Subscribe to my E-Mail Newsletter</p></b>
      <input type="text" name="email" id="tlemail" placeholder="Enter your email address ..." style="font-size:15px"/>
      <small><p>Your data won't be given to a third party and you can unsubscribe anytime.</p></small>
    <input type="submit" value="Subscribe" style="font-size:15px"/>
</form>
<hr>