<hr>
<p>Thank you for reading! If you enjoy my content, you can ...</p>

</form>
<ul>
  <li>✍️ <a href="https://medium.com/@matthiaskarner">Follow me on Medium</a></li>
  <li>☕ <a href="https://www.buymeacoffee.com/matthiaskarner">Buy me a Coffee</a></li>
  <li>🌐 <a href="https://www.linkedin.com/in/matthiaskarner/">Connect on LinkedIn</a></li>
</ul>
</form>

<form action="https://tinyletter.com/matthiaskarner"
      class="newsletter"
      method="post"
      target="popupwindow">
      <p>Subscribe to my E-Mail Newsletter</p>
      <input type="text" name="email" id="tlemail" placeholder="Enter your email address ..." style="font-size:0.7em"/>
      <p style="font-size:0.7em">Your information will not be shared with any third party, and you have the option to unsubscribe at any time.</p>
    <input type="submit" value="Subscribe" style="font-size:0.7em"/>
    <p></p>
</form>
<hr>