<hr>
<p>Thank you for reading!</p>
<p></p>
<p>If you enjoy my content, you can ...</p>
<ul>
<li>✍️ <a href="https://medium.com/@matthiaskarner">Follow me on Medium</a></li>
<li>📧 <a href="https://tinyletter.com/matthiaskarner">Subscribe</a></li>
<li>☕ <a href="https://www.buymeacoffee.com/matthiaskarner">Buy me a Coffee</a></li>
<li>🌐 <a href="https://www.linkedin.com/in/matthiaskarner/">Connect on LinkedIn</a></li>
</ul>
<p></p>
<h3>You can subscribe to my E-Mail Newsletter</h3>
<form action="https://tinyletter.com/matthiaskarner"
      class="newsletter"
      method="post"
      target="popupwindow">
    <input type="text" name="email" id="tlemail" placeholder="Enter your email address ..."/>
    <input type="submit" value="Subscribe to my newsletter"/>
</form>